@import url('https://fonts.googleapis.com/css?family=Audiowide');

.title {
  font-family: 'Audiowide', sans-serif;
}

.navTitle {
  font-family: 'Audiowide', sans-serif;
}

.navTitle:hover {
  color: #9130ff;
  text-decoration: underline;
  cursor: pointer;
}
